# Port number
PORT=3000

# URL of the Mongo DB
MONGODB_URL=mongodb://localhost:27017/pangea
MONGODB_URL=mongodb://mongodb:27017/pangea
NODE_ENV=development
REDIS_HOST=localhost
REDIS_HOST=redis
REDIS_PORT=6379